server:
  port: 8082

spring:
  application:
    name: todo
  datasource:
    url: ${TODO_DATASOURCE_URL}
    username: ${TODO_DATASOURCE_USERNAME}
    password: ${TODO_DATASOURCE_PASSWORD}

auth:
  service:
    url: ${AUTH_SERVICE_URL}

management:
  endpoints:
    web:
      exposure:
        include: health,info