spring:
  datasource:
    url: "jdbc:mysql://localhost:3308/todo_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update