server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth
              uri: "${AUTH_SERVICE_URL:http://localhost:8081}"
              predicates:
                - Path=/auth/**
              filters:
                - name: JwtAuthFilter

jwt:
  secret: this-is-a-very-very-long-and-strong-secret-key-for-jwt-signing
  accessExpiration: 3600000
  refreshExpiration: 2592000000

management:
  endpoints:
    web:
      exposure:
        include: health,info