services:
  gateway:
    image: betterlife/gateway:latest
    ports:
      - "8080:8080"
    env_file:
      - gateway.env
    depends_on:
      - auth
      - todo

  auth:
    image: betterlife/auth:latest
    env_file:
      - auth.env
    depends_on:
      - redis

  todo:
    image: betterlife/todo:latest
    env_file:
      - todo.env

  redis:
    image: redis:7.2