server:
  port: 8080

spring:
  application:
    name: auth
  data:
    redis:
      host: localhost
      port: 6379
  profiles:
    active: local

jwt:
  secret: this-is-a-very-very-long-and-strong-secret-key-for-jwt-signing
  accessExpiration: 3600000
  refreshExpiration: 2592000000

management:
  endpoints:
    web:
      exposure:
        include: health,info