spring:
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: jdbc:mysql://localhost:3307/auth_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    enabled: false
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin

jwt:
  secret: this-is-a-very-very-long-and-strong-secret-key-for-jwt-signing

todo:
  service:
    url: http://localhost:8082