spring:
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: jdbc:mysql://localhost:3307/auth_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update

jwt:
  secret: this-is-a-very-very-long-and-strong-secret-key-for-jwt-signing